<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.usb.host" android:required="true" />

    <application
        android:allowBackup="false"
        android:label="i-Retail JL22 Recovery"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".AoaProductionBridgeAuditActivity"
            android:exported="true"
            android:launchMode="singleTask" />

        <activity
            android:name=".AoaRecoveryActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
