<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.usb.accessory" android:required="true" />

    <queries>
        <package android:name="com.skytech.smartskypos" />
        <intent>
            <action android:name="com.skytech.smartskypos.ISmartSkyPos" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:label="i-Retail Kozen Bridge"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".BridgeActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>

        <service
            android:name=".BridgeService"
            android:exported="false" />
    </application>
</manifest>
