<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <package android:name="com.skytech.smartskypos" />
    </queries>
    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true">
        <activity
            android:name=".pos.SmartSkyPosDiagnosticActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true" />
        <activity
            android:name=".pos.SmartSkyPosLastTransactionActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true" />
        <activity
            android:name=".pos.SmartSkyPosTransactionLookupActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
